NODE_ENV=production
CIRCLEWASH_LEGACY_PUBLIC_FACING_PORT=3000
CIRCLEWASH_LEGACY_PUBLIC_FACING_CONTAINER_PORT=80
CIRCLEWASH_NEW_PUBLIC_FACING_PORT=3001
CIRCLEWASH_ADMIN_PORTAL_PORT=3002
CHAT_SERVICE_PORT=3003
CUSTOMER_SERVICE_PORT=3004
EMPLOYEE_SERVICE_PORT=3005
GATEWAY_PORT=3006
MACHINE_SERVICE_PORT=3007
NOTIFICATION_SERVICE_PORT=3008
SUPPORT_CASE_SERVICE_PORT=3009

DB_HOST=mongo
MONGO_PORT=27017
MONGO_USER=
MONGO_PASSWORD=
MONGO_DB_NAME=mydb
MONGO_URI=mongodb://mongo:27017/mydb

REDIS_HOST=redis
REDIS_PORT=
REDIS_ADMIN_PORT=

RABBITMQ_HOST=rabbitmq 
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
RABBITMQ_ADMIN_TOOL_URL=http://localhost:15672/
RABBITMQ_PORT=5672
RABBITMQ_ADMIN_PORT=15672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_EXCHANGE_NAME=CUSTOMER_SUPPORT

RABBITMQ_MACHINE_ROUTING_KEY=SUPPORT_CASE_SERVICE
RABBITMQ_EMPLOYEE_ROUTING_KEY=NOTIFICATION_SERVICE
RABBITMQ_SUPPORT_CASE_ROUTING_KEY=NOTIFICATION_SERVICE, MACHINE_SERVICE, EMPLOYEE_SERVICE

RABBITMQ_MACHINE_QUEUE_BINDING_KEY=MACHINE_SERVICE
RABBITMQ_NOTIFICATION_QUEUE_BINDING_KEY=NOTIFICATION_SERVICE
RABBITMQ_EMPLOYEE_QUEUE_BINDING_KEY=EMPLOYEE_SERVICE
RABBITMQ_SUPPORT_CASE_QUEUE_BINDING_KEY=SUPPORT_CASE_SERVICE

RABBITMQ_MACHINE_QUEUE_NAME=MACHINE_QUEUE
RABBITMQ_NOTIFICATION_QUEUE_NAME=NOTIFICATION_QUEUE 
RABBITMQ_EMPLOYEE_QUEUE_NAME=EMPLOYEE_QUEUE
RABBITMQ_SUPPORT_CASE_QUEUE_NAME=SUPPORT_CASE_QUEUE

GITHUB_TOKEN=